* {
    margin: 0 0;
    padding: 0 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    background-color: hsl(240, 75%, 98%);
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    
    margin: 3vw 4vw;
}

.logo-cabecalho {
    height: 2.3em;
}

.links-cabecalho {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    font-size: 0.9em;
    font-weight: 400;
}

.caixa-01, .caixa-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin: 3vw 4vw;
}

.ilustracao-01, .ilustracao-02 {
    width: 90vw;
    margin-top: 100px;
    margin-bottom: 50px;
}

.caixa-texto-01 {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.titulo-caixa-01 {
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 1.7em;
}

.paragrafo-caixa-01 {
    font-size: 0.9em;
    margin: 20px;
}

.input-caixa-01 {
    padding: 10px;
    margin: 20px;
    border: 1px solid hsl(243, 87%, 12%);
    border-radius: 3px;
    
}

.bnt-caixa-01 {
    color: #ffffff;
    background-color: hsl(224, 93%, 58%);
    font-size: 1em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 0 20px;
}

.caixa-texto-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo-caixa-02 {
    color: hsl(243, 87%, 12%);
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    text-align: center;
}

.paragrafo-caixa-02 {
    font-size: 0.9em; 
    color: hsl(238, 22%, 44%);  
    margin: 10px 0;
}

.link-caixa-02 {
    text-align: center;
    color: hsl(170, 45%, 43%);
    margin: 20px 0;
    line-height: 30px;
    font-size: 0.9em;
    text-underline-position: under;
}

.depoimento-caixa-02 {
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.422);
    width: 70vw;
    color: hsl(243, 87%, 12%);
    font-size: 0.7em;
    margin: 20px 0;
    padding: 20px;
    border-radius: 5px;
}

.paragrafo-depoimento-caixa-02 {
    margin: 5px 0;
}

.perfil-caixa-02 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.img-perfil {
    border-radius: 50%;
    width: 8vw;
}

.texto-perfil {
    font-size: 0.7em;
}

.texto-perfil strong {
    font-size: 1.2em;
}

.caixa-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(238, 22%, 44%);
    width: 100%;
    padding: 50px 0;
    color: #ffffff;
}

.titulo-caixa-03 {
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3em;
    text-align: center;
}

.paragrafo-caixa-03 {
    text-align: center;
    font-size: 0.9em;
    margin: 20px;
}

.caixa-input-03 {
    display: flex;
    flex-direction: column;
}

.input-03 {
    padding: 8px 50px 8px 8px;
    border: none;
    border-radius: 3px;
    margin: 10px 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.236);
}

.btn-caixa-03 {
    color: #ffffff;
    background-color: hsl(224, 93%, 58%);
    font-size: 0.9em;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
    border: none;
    padding: 8px 10px;
    border-radius: 3px;
    
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.236);
}

.rodape {
    background-color: hsl(243, 87%, 12%);
    color: #ffffff;
    padding: 50px 10vw;
}

.logo-rodape {
    margin: 20px 0;
    height: 3em;
}

.rodape-fone {
    margin: 10px 0;
}
.rodape-email {
    margin: 10px 0;
}

.rodape-02 {
    list-style: none;
    line-height: 35px;
    margin: 30px 0;
}

.rodape-03 {
    list-style: none;
    line-height: 35px;
    margin: 30px 0;
}
.rodape-04 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.fa-brands {
    font-size: 1.2em;
    border: 1px solid #ffffff;
    border-radius: 50%;
    padding: 10px;
}




/*DESKTOP*/


@media screen and (min-width: 780px) {
    
    .cabecalho {
        margin: 5vw 6vw;
    }
    
    .logo-cabecalho {
        height: 3em;
    }
    
    .links-cabecalho {
        gap: 20px;
        font-size: 1.1em;
    }
    
    .caixa-01, .caixa-02 {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 50px 6vw;
    }
    
    .ilustracao-01, .ilustracao-02 {
        width: 40vw;
        margin: 0 0 0 50px;
    }
    
    .caixa-texto-01 {
        text-align: start;
    }
    
    .titulo-caixa-01 {
        font-size: 2em;
    }
    
    .paragrafo-caixa-01 {
        font-size: 1.1em;
        margin: 20px 0;
    }
    
    .area-input-caixa-01 {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
    }

    .input-caixa-01 {
        padding: 10px 50px 10px 15px;
        margin: 20px 0;
    }
    
    .bnt-caixa-01 {
        font-size: 0.9em;
        padding: 10px 50px;
        border-radius: 3px;
        margin: 0;
    }

    .caixa-02 {
        margin-top: 200px;
    }
    
    .caixa-texto-02 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50vw;
    }
    
    .titulo-caixa-02 {
        font-size: 1.8em;
        text-align: start;
        margin-bottom: 20px;
    }
    
    .paragrafo-caixa-02 {
        font-size: 1em;  
        margin: 10px 0;
    }
    
    .link-caixa-02 {
        text-align: start;
        margin: 10px 0;
        line-height: 20px;
        font-size: 1em;
    }
    
    .depoimento-caixa-02 {
        width: 20vw;
    }
    
    .img-perfil {
        width: 4vw;
    }
    
    .caixa-03 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 100px 6vw;
        gap: 18vw;
    }
    
    .texto-caixa-03 {
        width: 35vw;
    }

    .titulo-caixa-03 {
        font-size: 1.8em;
        text-align: start;
    }
    
    .paragrafo-caixa-03 {
        text-align: start;
        font-size: 1em;
        margin: 20px 0;
    }
    
    .caixa-input-03 {
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
    
    .btn-caixa-03 {
        width: 20vw;
        font-size: 1em;
        padding: 8px 10px;
    }
    
    .rodape {
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        gap: 10vw;
        padding: 100px 6vw;
    }
    
    .logo-rodape {
        height: 5vw;
    }
    
    .rodape-fone {
        margin: 15px 0;
        font-size: 1.5em;
    }
    .rodape-email {
        margin: 15px 0;
        font-size: 1.5em;
    }
    
}

